/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */

/*
=============== 
Variables
===============
*/

:root {
    --clr-primary-color: #009cff;
    --clr-secondary-color: #f99500;
    --clr-light-color: #e2e2e2;
    --clr-dark-color: #333;
    --clr-primary-2: #17516d;
    --clr-primary-3: #1a5c7c;
    --clr-primary-4: #1d688c;
    --clr-primary-5: #21749c;
    --clr-primary-6: #3781a5;
    --clr-primary-7: #4d8faf;
    --clr-primary-8: #639db9;
    --clr-primary-9: #79abc3;
    --clr-primary-10: #90b9cd;
    --clr-black: black;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);

    --primaryColor: #009cff;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 4px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-green-dark: hsl(125, 67%, 35%);
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);

    --clr-white-2: #b2beb5;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.2rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-1);
    background: var(--clr-light-color);
    line-height: 1.5;
    font-size: 0.875rem;
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
    text-align: justify;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 0.9rem 1.6rem;
    display: inline-block;
}
.btn:hover {
    color: var(--clr-primary-5);
    background: var(--clr-white);
    border: 1px solid var(--clr-primary-5);
}
.center-btn {
    display: block;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
}
/* section */
.section {
    padding: 4rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
/* added during recording */
.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-secondary-color);
    margin-left: auto;
    margin-right: auto;
}
.section-title {
    margin-bottom: 2rem;
}

.section-title .underline {
    margin-left: 0;
}

.bg-grey {
    background: var(--clr-grey-10);
}


/*Mine Utilities*/
.scroller {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(0.7);
    position: relative;
}

.card {
    color: white;
    padding: 1rem 2rem 0 2rem;
}


.btn-white,
.btn-primary {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    border: 2px solid var(--mainWhite);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
}
.btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
}
.btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
}

@media screen and (min-width: 992px) {
    .scroller {
    transform: scale(1.1);
    }
}

/*Mine Utilities*/

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
    margin-top: -5rem;
    padding-top: 5rem;
    height: 100vh;
    color: white;
    position: relative;
}

.hero-center {
    display: grid;
}

.hero .underline {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.hero h4 {
    color: var(--clr-secondary-color);
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    
    .hero-center .hero-info {
        grid-template-columns: 70% 30%;
    }
    .hero h4 {
        font-size: 1.4rem;
    }

    .hero-info h1 {
        font-size: 4.5rem;
    }
}

/*
=============== 
Services
===============
*/
.service {
    background: var(--clr-white);
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: var(--radius);
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.service-icon {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.service .underline {
    width: 3rem;
    height: 0.12rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.service p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.service:hover {
    background: var(--clr-primary-5);
    color: var(--clr-white);
}
.service:hover p {
    color: var(--clr-white);
}
.service:hover .underline {
    background: var(--clr-white);
}

@media screen and (min-width: 676px) {
    .services-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .services-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*
=============== 
Projects
===============
*/
.project {
    display: grid;
    margin-bottom: 4rem;
}
.project-img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 19rem;
    z-index: 1;
}
.project-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
    opacity: 0.85;
    transition: var(--transition);
}
.project:hover .project-img::after {
    opacity: 0;
}
.project-info {
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.project-number {
    display: inline-block;
    font-size: 1.25rem;
    color: var(--clr-primary-5);
    margin-bottom: 0.75rem;
}
.project-info h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.project-desc {
    word-spacing: 15px;
    color: var(--clr-grey-3);
}
.project-stack {
    margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
    display: inline-block;
    background: var(--clr-grey-9);
    color: var(--clr-grey-5);
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}
.about-stack span {
    margin-top: 0.5rem;
}

.about-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 4rem 0;
}

.about-section img {
    width: 100%;
}

.about-background {
    background: #e2e2e2;
    padding: 0 2rem 3rem;
}

.project-icon {
    color: var(--clr-primary-5);
    font-size: 1.25rem;
    margin-right: 0.5rem;
    transition: var(--transition);
}
.project-icon:hover {
    color: var(--clr-primary-1);
}
@media screen and (min-width: 576px) {
    .project-img {
        height: 19rem;
    }
}
@media screen and (min-width: 768px) {
    .project-img {
        height: 22rem;
    }
}
@media screen and (min-width: 992px) {
    .project {
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
    .project-img {
        grid-column: 1 / span 8;
        /* grid-column-end: 8; */
        grid-row: 1 / 1;
        height: 30rem;
        border-radius: var(--radius);
        box-shadow: var(--dark-shadow);
    }
    .project-info {
        border-radius: var(--radius);
        box-shadow: var(--dark-shadow);

        z-index: 1;
        grid-column: 5 /12;
        grid-row: 1 / 1;
    }
    .project:nth-of-type(even) .project-img {
        grid-column: 5 / -1;
        grid-row: 1 / 1;
    }
    .project:nth-of-type(even) .project-info {
        grid-column: 2 / span 7;
        grid-row: 1 / 1;
        text-align: left;
    }
}

/*
=============== 
Blog
===============
*/
.blog {
    display: block;
    margin-bottom: 2rem;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}
.blog:hover {
    box-shadow: var(--dark-shadow);
    transform: scale(1.02);
}
.blog article {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}
.blog-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.blog-img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 15rem;
}
.blog-card {
    padding: 1.5rem 1rem;
}
.blog-card h4 {
    color: var(--clr-black);
}

.blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-footer p {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--clr-grey-5);
}
.blog-footer p:first-of-type {
    display: inline-block;
    background: var(--clr-grey-9);
    color: var(--clr-grey-5);
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

@media screen and (min-width: 576px) {
    .blogs-center {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
        column-gap: 2rem;
    }
    .blog-img {
        height: 17.5rem;
    }
}
@media screen and (min-width: 850px) {
    .blog-img {
        height: 13.75rem;
    }
}

/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.error-page,
.about-page,
.contact-page {
    min-height: calc(100vh - 5rem - 9rem);
}
.error-page {
    display: grid;
    place-items: center;
    background: var(--clr-primary-10);
    text-align: center;
}
.error-page h1 {
    text-transform: uppercase;
    color: var(--clr-primary-1);
    margin-bottom: 2rem;
}
/*
===============
Blog Page
===============
*/
.blog-page .blog {
    background: var(--clr-white);
}
/*
===============
About Page
===============
*/
.about-page {
    padding: 7rem 0;
}
.about-img {
    margin-bottom: 2rem;
    height: 25rem;
}
.about-text .section-title {
    margin-bottom: 2rem;
    text-align: left;
}
.about-text .underline {
    margin-left: 0;
    margin-right: 0;
}
.about-text p {
    line-height: 2;
}
.stack-container {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5rem;
}
.stack-container span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: var(--clr-grey-4);
}
.stack-icon {
    color: var(--clr-primary-5);
    margin-right: 0.25rem;
    font-size: 1rem;
}
@media screen and (min-width: 992px) {
    .about-center {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        column-gap: 4rem;
    }
    .about-img {
        grid-column: 1 / span 5;
        margin-bottom: 0;
    }
    .about-text {
        grid-column: 6 / -1;
    }
}

/*
===============
Contact Page
===============
*/
.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}
.contact-form {
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    width: 90vw;
    max-width: 35rem;
}
.contact-form:hover {
    box-shadow: var(--dark-shadow);
}
.contact-form h3 {
    padding-top: 1.25rem;
}
.contact-form .form-group {
    padding: 1rem 1.5rem;
}
.contact-form .form-control {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    letter-spacing: var(--spacing);
}
.contact-form .form-control::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    letter-spacing: var(--spacing);
}
.contact-form .submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
}
/*
===============
Blog Template
===============
*/

.blog-template {
    padding: 2rem 0;
}

.blog-template ul {
    margin-top: 2rem;
    display: inline-block;
}

.blog-template ul li {
    background: var(--clr-grey-9);
    color: var(--clr-grey-5);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.blog-template blockquote {
    background: var(--clr-primary-9);
    border-radius: var(--radius);
    padding: 1rem;
    line-height: 2;
    color: var(--clr-primary-5);
    margin: 2rem 0;
}

.blog-template pre {
    background: #222;
    color: yellow;
    overflow-x: scroll;
    padding: 1rem 1.5rem;
    border-radius: var(--radius);
}

.blog-template img {
    width: 100%;
    height: 15rem;
    margin: 3rem 0;
}

#deals {
    color: var(--clr-secondary-color);
    padding: 3rem 3rem 0 3rem;
    text-align: center;
    background: #253b4d;
}

.form-control {
    flex: 1 1 auto;
}

.form-control {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: var(--mainSpacing);
    border: 1px solid var(--clr-secondary-color);
    background: var(--mainWhite);
    text-transform: capitalize;
    outline: none;
}

::placeholder {
    color: inherit;
}

.btn-submit {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: var(--mainSpacing);
    border: 1px solid var(--clr-secondary-color);
    color: var(--mainWhite);
    background: var(--clr-secondary-color);
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    transition: var(--mainTransition);
}

.btn-submit:hover {
    color: var(--clr-secondary-color);
    background: var(--mainWhite);
}

.page-container {
    display: grid;
    margin: 0 auto;
}
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-group input,
.input-group button {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

/* Stack Grid Items */
.page-container {
    grid-template-columns: 100%;
}

.page-container .page-content {
    grid-row: 1;
}
.about-section {
    display: grid;
    grid-template-columns: 100%;
    padding: 1rem 2rem 0 0;
}
.abt-img {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

aside {
    background: var(--mainWhite);
    color: var(--clr-grey-1);
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem;
}

.aside-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-about img {
    display: flex;
    width: 75%;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

.aside-about p {
    text-align: justify;
    padding: 0 2rem;
}

.aside-about .underline {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 5px;
}

.aside-about span {
    font-size: 1.5em;
    margin-right: auto;
    margin-left: 2rem;
}

.aside-about strong {
    text-transform: uppercase;
    color: var(--clr-secondary-color);
}

.aside-contact {
    padding: 0 2rem;
}

aside .input-group {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2rem;
    margin-top: 0;
}
aside .input-group input,
aside .input-group button {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 992px) {
    .page-container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 1.5rem;
    }

    .about-section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        column-gap: 4rem;
    }
    .abt-img {
        grid-column: 1 / span 5;
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .abt-text {
        grid-column: 6 / -1;
    }
    .input-group {
        width: 90vw;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

.hero-welcome {
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(90px);
    }
}

.pages-btn {
    display: flex;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
}

.abt-btn,
.cont-btn {
    margin: 0 0.5rem;
    text-transform: uppercase;
    background: var(--clr-secondary-color);
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    padding: 0.9rem 1.6rem;
    border: none;
    cursor: pointer;

}


.abt-btn:hover,
.cont-btn:hover {
    background: var(--clr-white);
    color: var(--clr-secondary-color);
    border: 1px dashed var(--clr-secondary-color);
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
